<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-3-227-149-67.compute-1.amazonaws.com/d8bdlq9bf00j7t</property>
        <property name="hibernate.connection.username">qbytpqpanuxnaq</property>
        <property name="hibernate.connection.password">
            e06fc5c3aca334de5c54849ce2d58d37b17b9bcd1f141927517e7e9d36c8a634</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
    </session-factory>
</hibernate-configuration>
