<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-18-214-195-34.compute-1.amazonaws.com/dcnb143hic70e0</property>
        <property name="hibernate.connection.username">rtkfpvfdbuzxrs</property>
        <property name="hibernate.connection.password">
            0c6b4c834d6ffab9991a4aee673935100377f00ad07c296fd10fa820c3f08183</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
    </session-factory>
</hibernate-configuration>
